@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

html,
body{
  width: 100%;
  height: 100%;
}

.fulicashier-wrapper{
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.fulicashier-head{
  width: 100%;
  height: .9rem;
  border-bottom: 4px solid #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: flex-end;
          justify-content: flex-end;
  padding: 0 .3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fulicashier-head-word{
  color: #222;
  font-size: .26rem;
}

.fulicashier-head-word-price{
  color: #fe6601;
  font-size: .32rem;
}

.fulicashier-payment-type{
  width: 100%;
  height: 1.05rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .36rem;
  box-sizing: border-box;
}

.fulicashier-payment-type-left{
  color: #333;
  font-size: .28rem;
  display: flex;
}

.fulicashier-payment-type-img{
  width: .33rem;
  height: .36rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fulicashier-payment-type-img img{
  width: 100%;
  height: 100%;
}

.fulicashier-payment-type-word{
  margin-left: .2rem;
}

.fulicashier-payment-type-check{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fulicashier-payment-type-check input{
  width: .36rem;
  height: .36rem;
  border-radius: 50%;
}

.fulicashier-payment-type-check>input:checked::before {
  background-color: #fff;
}

.fulicashier-payment-type-check>input:checked::after {
  display: inline-block;
  content: "";
  width: .36rem;
  height: .36rem;
  background: url(../images/input_check.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: .33rem;
  left: 0;
}

.confirm-btn{
  width: 100%;
  height: .9rem;
  background-color: #fe6601;
  text-align: center;
  line-height: .9rem;
  color: #fff;
  font-size: .28rem;
  position: fixed;
  bottom: 0;
}

.fuli-cashier{
  width: 100%;
  height: .9rem;
  display: flex;
  align-items: center;
  padding: 0 .3rem;
  box-sizing: border-box;
}

.fuli-cashier-return{
  width: .19rem;
  height: .33rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fuli-cashier-return img{
  width: 100%;
  height: 100%;
}

.fuli-cashier-word{
  width: calc(100% - .19rem);
  color: #333;
  font-size: .32rem;
  text-align: center;
}

.fulicashier-mask-bg{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 998;
  display: none;
}

.fulicashier-mask{
  width: 5rem;
  height: 3.28rem;
  background-color: #fff;
  border-radius: .22rem;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -2.5rem;
  margin-top: -2.64rem;
  z-index: 999;
  display: none;
}

.fulicashier-mask-head{
  width: 100%;
  height: .81rem;
  border-bottom: 2px solid #ededed;
  padding: 0 .23rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.fulicashier-mask-head-img{
  width: .24rem;
  height: .24rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fulicashier-mask-head-img img{
  width: 100%;
  height: 100%;
}

.fulicashier-mask-head-word{
  width: calc(100% - .24rem);
  text-align: center;
  color: #333;
  font-size: .28rem;
}

.fulicashier-mask-content{
  width: 100%;
  padding: 0 .36rem;
  box-sizing: border-box;
}

.fulicashier-mask-price{
  width: 100%;
  line-height: 1.13rem;
  text-align: center;
  color: #000;
  font-size: .48rem;
}

.fulicashier-mask-input-wrapper{
  width: 100%;
  height: .72rem;
  border: 2px solid #999;
  box-sizing: border-box;
  display: flex;
}

.fulicashier-mask-input{
  width: 16.6%;
  height: 100%;
  border: none;
  border-right: 1px solid #999;
  outline: none;
  text-align: center;
}

.fulicashier-mask-input:last-child{
  border-right: none;
}